.wrap-card {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%; /* changed from 'inherit' to '100%' */
    max-height: 400px; /* set a fixed max height to limit the number of cards */
    overflow-y: auto; /* changed from 'overflow: scroll' to 'overflow-y: auto' */
  }

.card {
    position: relative;
    width: 400px;
    height: 300px;
    background: grey;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 2px solid #494949;
  }
  
  .card__image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire space */
    object-position: center; /* Centers the image within the container */
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #222222;
    opacity: 0;
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0,
            inset #333 0 0 0 5px,
            inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  }
  
  .card:hover .card__content {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #e7e7e7;
    font-weight: 700;
  }

  .card__title2 {
    margin: 10px 0 0;
    font-size: 20px;
    color: #e7e7e7;
    font-weight: 700;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #9b9b9b;
    line-height: 1.4;
  }
  
  .card:hover .card__image {
    transform: scale(0);
  }

  .card__tech{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
  }

  ul {
    list-style: none;
    padding-inline-start: 0px;
    margin-block: 0.2em;
  }

  .tech__list {
    display: block;
    height: 2.75rem;
    width: 2.75rem;
    margin: 0.25rem;
    background-color: #fff;
    padding: 0.2rem;
    border-radius: 5px;
  }

  .btn.live-view-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7798bb; /* or any other color you prefer */
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .btn.live-view-btn:hover {
    background-color: #7798bb65; /* darken the color on hover */
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .btn.live-view-btn i {
    margin-left: 5px; /* space between text and icon */
  }

  .tooltip {
    position: relative;
    display: inline-block;
    font-size: small;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 75%; /* Position the tooltip above the image */
    left: 50%;
    margin-left: -60px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%; /* Arrow at the bottom */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  /* Unique class for your icon links */
  .icon-links {
    display: inline-block;
    border: 1px solid #ccc; /* border style */
    padding: 10px; /* padding inside the box */
    border-radius: 10px; /* rounded corners */
  }

  .icon-links a {
    text-decoration: none; /* remove underline from links */
    color: #7798bb; /* link color */
    margin: 10px; /* spacing between icons */
  }

  .icon-links a:last-child {
    margin-right: 0; /* remove extra margin after last icon */
  }

  .icon-links .fa {
    margin-right: 5px; /* spacing between icon and text */
  }

  .icon-links p {
    cursor: none;
  }